<br /><br /><br /><br /><br /><br />
<section class="about-area section bg-img jarallax">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-12">
				<div class="section-heading2">
					<h2>Qui sommes-nous ?</h2>
				</div>
				<div class="about-contents">
					<p>Nous proposons divers services allant de l'achat d'armes à l'inscription pour l'obtention d'une licence de tir et licence de Droit de Port d'Arme légalisé. Etant partenaire de l'Etat,  tous nos services sont garantis 100% légaux et vous n'aurez aucuns problèmes judiciaires avec nous tant que l'utilisation de vos armes ne dépasse pas le cadre de la juridiction en vigueur. Avec des installations d'entraînements intérieurs à la pointe de la technologie ainsi qu'une boutique personnalisée à service complet, nous pouvons répondre à la plupart des demandes. Tous les passionnés d'armes modernes peuvent apprécier nos services étendus et notre personnel expérimenté. Avec des installations d'entraînements intérieurs grâce à un stand de tir personnalisé où vous pouvez essayer toutes les armes que l'Ammu Nation vous propose ! Et cela, sans limite !</p>
					<blockquote>“Cette Ammu Nation va révolutionner le processus d'achat d'armes ainsi que l'obtention des PPA.”</blockquote>
					<p>Toutes les armes modernes peuvent apprécier nos services étendus et notre personnel expérimenté ainsi que qualifié dans cette vente, prêts à répondre à toutes vos attentes et demandes dans les plus brefs délais !</p>
				</div>
			</div>
			<div class="col-md-5 col-sm-12 ">
				<div class="about-cata">
					<a href="/products">
						<div class="cata-list list-t1">
							<div class="dbox">
								<div class="dleft">
									<div class="content">
										<h4>Armes</h4>
									</div>
								</div>
								<div class="dright">
									<div class="cate-ico">
										<img src="assets/images/icons/02.png" alt="" />
									</div>
								</div>
							</div>
						</div>
				    </a>
					<a href="/pictures">
					<div class="cata-list list-t2">
						<div class="dbox">
							<div class="dleft">
								<div class="content">
									<h4>Stand de tir</h4>
								</div>
							</div>
							<div class="dright">
								<div class="cate-ico">
									<img src="assets/images/icons/01.png" alt="" />
								</div>
							</div>
						</div>
					</div>
					</a>
					<a href="/gallery">
					<div class="cata-list list-t1">
						<div class="dbox">
							<div class="dleft">
								<div class="content">
									<h4>Présentation</h4>
								</div>
							</div>
							<div class="dright">
								<div class="cate-ico">
									<img src="assets/images/icons/03.png" alt="" />
								</div>
							</div>
						</div>
					</div>
                     </a>
				</div>
			</div>
		</div>
	</div>
</section>