<br /><br /><br /><br /><br /><br />
<section class="events-area section bg-img jarallax about-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-heading">
					<h2>Admin</h2>
					<p></p>
				</div>
			</div>
		</div>
		<div class="row">
			
		</div>
	</div>
</section>