<section class="events-area section bg-img jarallax">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-heading">
					<h2>Evnements à venir</h2>
					<p>Ci-dessous les évènements de l'Ammu Nation sud à venir, restez à l'affût !</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading1">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="cnc">
								<h3>Modern Weapon Trainning Seminar</h3>
								<ul>
									<li><i class="far fa-calendar"></i><span>July 25, 2017</span></li>
									<li><i class="far fa-clock"></i><span>EST 11.00 to 5.00</span></li>
									<li><i class="fas fa-map-marker-alt"></i><span>121, King Street, Melbourne</span></li>
								</ul>
								<span class="arrows">01</span>
							</a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
							<div class="panel-body">
								<p>Weaponts can appreciate our broad services akshay handge pharetra, eratd fermentum feugiat, gun are best velit mauris aks egestasut aliquam. This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor. Read More</p>
								<div class="col-sm-8 pd-0">
									<div class="events-img">
										<div><img src="assets/images/events/1.jpg" alt="" /></div>
										<div><img src="assets/images/events/2.jpg" alt="" /></div>
										<div><img src="assets/images/events/3.jpg" alt="" /></div>
										<div><img src="assets/images/events/1.jpg" alt="" /></div>
										<div><img src="assets/images/events/2.jpg" alt="" /></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><br />
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading1">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="cnc">
								<h3>Modern Weapon Trainning Seminar</h3>
								<ul>
									<li><i class="far fa-calendar"></i><span>July 25, 2017</span></li>
									<li><i class="far fa-clock"></i><span>EST 11.00 to 5.00</span></li>
									<li><i class="fas fa-map-marker-alt"></i><span>121, King Street, Melbourne</span></li>
								</ul>
								<span class="arrows">01</span>
							</a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
							<div class="panel-body">
								<p>Weaponts can appreciate our broad services akshay handge pharetra, eratd fermentum feugiat, gun are best velit mauris aks egestasut aliquam. This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor. Read More</p>
								<div class="col-sm-8 pd-0">
									<div class="events-img">
										<div><img src="assets/images/events/1.jpg" alt="" /></div>
										<div><img src="assets/images/events/2.jpg" alt="" /></div>
										<div><img src="assets/images/events/3.jpg" alt="" /></div>
										<div><img src="assets/images/events/1.jpg" alt="" /></div>
										<div><img src="assets/images/events/2.jpg" alt="" /></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>