<br /><br /><br /><br /><br /><br />
<section class="gallery-area section2 bg-img jarallax">
        <div class="container">
            <div class="row">
<p>Formation pour l'obtention du 
Permis de Port d’Arme | PPA
9275 Popular Street

Cadre d’utilisation d’une arme : 

Légitime défense :
La légitime défense permet de se défendre, de protéger quelqu'un ou un bien, lors d'une attaque immédiate par une personne.

Pour que la légitime défense existe, les 6 conditions sont les suivantes :
L'attaque doit être injustifiée, c'est-à-dire sans motif valable.
La défense doit se faire pour soi ou pour une autre personne.
La défense doit être immédiate.
La défense doit être nécessaire à sa protection, c'est-à-dire que la seule solution est la riposte.
La défense doit être proportionnelle, c'est-à-dire égale à la gravité de l'attaque
La défense d'un bien ne doit pas avoir pour conséquence un homicide volontaire, c'est-à-dire entraîner la mort d'une personne.
 
Les chefs d’irresponsabilités
Source : Code Pénal 
Après chaque utilisation de votre arme de poing, vous avez 15 minutes à partir du coup de feu pour appeler la Police.



Cadre de maniement d’une arme (ISTC) instruction sur le tir de combat : 
Avant de pouvoir porter une arme, vous devez connaître obligatoirement chaque règle de sécurité.  

1. Toutes les armes sont toujours considérées comme chargées.
La plupart des accidents sont dus au fait que l’on pensait l'arme non chargée.

2. Ne jamais laisser le canon de son arme sur quelque chose ou quelqu’un que l’on ne veut pas toucher.
En cas de débris d’armes, le coup peut partir seul.

3. Laissez le doigt hors de la détente tant que les organes de visées ne sont pas sur l'objectif. 
Lors d’un stress ou d’une chute, le doigt peut enclencher le coup.

4. Être sûr de son environnement et de son objectif.
En cas de tirs fratricides ou collatéraux.


Cevital :
Chronologie du tir en 7 temps correspond à une succession logique de gestes qui permettent au tireur de traiter efficacement un ou plusieurs objectifs en préservant sa sécurité et celle de ses équipiers. 

Certitude : identification de la cible. 

Élévation: Geste qui permet de mettre le viseur au niveau des yeux du tireur. 

Visé : Organes de visée, ou optique d'aide au tir, aligné sur l'objectif. 

Index sur la détente : Le tireur exécute cette action uniquement lorsque les organes de visée sont alignés sur l'objectif. 

Tir : Pression continue sur la détente jusqu'au départ du coup. 

Analyse du but : Placer l'index le long du canon, baisser vivement l'arme à 45° et vérifier si l'objectif est traité. 

Latéral. Balayage latéral ou scanning. A l'issue du tir, le tireur balaye du regard de part et d'autre de l'objectif afin de détecter une éventuelle autre menace. 



Catégorie des armes :    
Les armes sont classées en 3 catégories en fonction de leur dangerosité.
 
Catégorie 1 : Armes Blanches,
Catégorie 2 : Armes de Poings,
Catégorie 3 : Armes Lourdes,
Catégorie 4 : Explosifs et autres armes destinées à détruire.
 
 
 
Pour savoir si votre arme est légale ou illégale, renseignez-vous ici :
Code Général de l’Etat de San Andreas
</p>