<br /><br /><br /><br /><br /><br />
<section class="gallery-area section2 bg-img jarallax about-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-heading">
					<h2>Formation pour l'obtention du Permis de Port d’Arme | PPA</h2>
					<p>9275 Popular Street</p>
				</div>
			</div>
		</div>
		<div class="row" style="color:#FFF">
			<div class="sectionn-heading"><h2 style="font-size: 22px;">Légitime défense :</h2></div>
			<div class="col-md-12 col-sm-12 pd-0">
				    <h4>
						<p>La légitime défense permet de se défendre, de protéger quelqu'un ou un bien, lors d'une attaque immédiate par une personne.<br />Pour que la légitime défense existe, il faut respecter les 6 conditions suivantes :</p>
				    </h4>
					<ul style="list-style: circle;margin: 0 0 0 50px;color: #FFF">
						<li>1. &nbsp;&nbsp;L'attaque doit être injustifiée, c'est-à-dire sans motif valable.</li>
						<li>2. &nbsp;La défense doit se faire pour soi ou pour une autre personne.</li>
						<li>3. &nbsp;La défense doit être immédiate.</li>
						<li>4. &nbsp;La défense doit être nécessaire à sa protection, c'est-à-dire que la seule solution est la riposte.</li>
						<li>5. &nbsp;La défense doit être proportionnelle, c'est-à-dire égale à la gravité de l'attaque.</li>
						<li>6. &nbsp;La défense d'un bien ne doit pas avoir pour conséquence un homicide volontaire, c'est-à-dire entraîner la mort d'une personne volontairement.</li>
					</ul>
					<br />
					<br />
					<br />
					<div class="sectionn-heading"><h2 style="font-size: 22px;">Les chefs d'irresponsabilité :</h2></div>

					<p><b><strong style="color:red">Article L.111.</strong>    </b>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;N'est pas pénalement responsable la personne qui, devant une atteinte injustifiée envers elle-même ou autrui, accomplit, dans le même temps, un acte commandé par la nécessité de la légitime défense d'elle-même ou d'autrui, sauf s'il y a disproportion entre les moyens de défense employés et la gravité de l'atteinte.</p>								
					<p><b><strong style="color:red">Article L.111-1.</strong>  </b>    &nbsp;&nbsp;&nbsp;&nbsp;N'est pas pénalement responsable l'agent des services de police, qui au cours de son service, devant une menace pour son intégrité physique, accomplit, dans le même temps, un acte commandé par la nécessité de la légitime défense ou d'autrui.</p>								
					<p><b><strong style="color:red">Article L.111-2.</strong>  </b>    &nbsp;&nbsp;&nbsp;&nbsp;Si un acte est commis dans la cadre de la légitime défense, ce dit acte devra être suivi par une signalisation de celui-ci aux services de police et de secours dans un délai de 60 minutes après la réalisation de ce dit acte.</p>								
					<p><b><strong style="color:red">Article L.111-3.</strong>  </b>    &nbsp;&nbsp;&nbsp;&nbsp;Tout citoyen, dans le cadre d’un non-respect de ce dernier alinéa, pourra justifier de l’impossibilité de respecter ce dit délai par un motif d’une impérieuse nécessité ou d’une impossibilité active de le respecter. Ces différents régimes d’impossibilités pourront être appréciés par l’autorité judiciaire qui aura toute la latitude pour le faire.</p>								
					<p><b><strong style="color:red">Article L.112.</strong>    </b>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;N'est pas pénalement responsable la personne qui, pour interrompre l'exécution d'un crime ou d'un délit contre un bien, accomplit un acte de défense autre que le crime lié à l'homicide volontaire, dès lors que cet acte est strictement nécessaire au but poursuivi et que les moyens employés sont proportionnels à la gravité de l'infraction. (Stand Your Ground Law).</p>								
					<p><b><strong style="color:red">Article L.112-1.</strong>  </b>    &nbsp;&nbsp;&nbsp;&nbsp;Pour être considéré comme chef d'irresponsabilité, la légitime défense devra répondre du respect de la règlementation des armes. La légitime défense ne pourra être plaidée si celle-ci est commise avec une arme illégale ou que la possession de l'arme est illégale (PPA). (Jurisprudence d'Hawkins V de 2015) (Cf. Règlementation des armes).</p>								
					<p><b><strong style="color:red">Article L.113.</strong>    </b>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Toute personne victime d'intrusion dans sa propriété privée dispose de toute la latitude pour faire usage de tout moyen afin de repousser cette intrusion (usage de la force et d'arme à feu compris). (Doctrine "Castle").</p>								
					<p><b><strong style="color:red">Article L.114.</strong>    </b>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;N'est pas pénalement responsable la personne qui accomplit un acte commandé par l'autorité légitime, sauf si cet acte est manifestement illégal. En outre, l'autorité ayant donné l'ordre manifestement illégal peut faire l'objet de poursuites pour les infractions dont elle est commanditaire.</p>								
					<h6>Source &nbsp;:&nbsp; Code Pénal</h6>
					<br />
					
			
					<p>Après chaque utilisation de votre arme de poing, vous avez 15 minutes à partir du coup de feu pour appeler la Police.</p>
					<br />
					<br />
					<br />
					<div class="sectionn-heading"><h2 style="font-size: 22px;">Cadre de maniement d’une arme (ISTC) instruction sur le tir de combat : </h2></div>
					<p>Avant de pouvoir porter une arme, vous devez connaître obligatoirement chaque règle de sécurité.</p>
					

					<ul style="list-style: circle;margin: 0 0 0 50px;color: #FFF">
						<li><b>1. Toutes les armes sont toujours considérées comme chargées.</b><br/>
						La plupart des accidents sont dû au fait que l’on pensait l'arme non chargée.</li>
						<br />
						<li><b>2. Ne jamais laisser le canon de son arme sur quelque chose ou quelqu’un que l’on ne veut pas toucher.</b></li>
						En cas de débris d’armes, le coup peut partir seul.
						<br />
						<br />
						<li><b>3. Laissez le doigt hors de la détente tant que les organes de visée ne sont pas sur l'objectif.</b></li>
						Lors d’un stress ou d’une chute, le doigt peut enclencher le coup.
						<br />
						<br />
						<li><b>4. Être sûr de son environnement et de son objectif.</b></li>
						En cas de tirs fratricides ou collatéraux.
					</ul>
					<br />
					<br />
					<br />
					<br />
					<br />
					
					<div class="sectionn-heading"><h2 style="font-size: 22px;">CEVITAL : </h2></div>
						<p>Chronologie du tir en 7 temps correspond à une succession logique de gestes qui permettent au tireur de traiter efficacement un ou plusieurs objectifs en préservant sa sécurité et celle de ses équipiers.</p> 

						<p><b><strong style="color:red">C</strong>ertitude</b> &nbsp;&nbsp;:&nbsp;&nbsp; identification de la cible.</p>

						<p><b><strong style="color:red">E</strong>lévation</b> &nbsp;&nbsp;:&nbsp;&nbsp; Geste qui permet de mettre le viseur au niveau des yeux du tireur.</p>

						<p><b><strong style="color:red">V</strong>isée</b> &nbsp;&nbsp;:&nbsp;&nbsp; Organes de visée, ou optique d'aide au tir, aligné sur l'objectif.</p>

						<p><b><strong style="color:red">I</strong>ndex</b> sur la détente &nbsp;&nbsp;:&nbsp;&nbsp; Le tireur exécute cette action uniquement lorsque les organes de visée sont alignés sur l'objectif.</p>
						
						<p><b><strong style="color:red">T</strong>ir</b> &nbsp;&nbsp;:&nbsp;&nbsp; Pression continue sur la détente jusqu'au départ du coup.</p>

						<p><b><strong style="color:red">A</strong>nalyse du but</b> &nbsp;&nbsp;:&nbsp;&nbsp; Placer l'index le long du canon, baisser vivement l'arme à 45° et vérifier si l'objectif est traité.</p> 

						<p><b><strong style="color:red">L</strong>atéral</b> &nbsp;&nbsp;:&nbsp;&nbsp; Balayage latéral ou scanning. A l'issue du tir, le tireur balaye du regard de part et d'autre de l'objectif afin de détecter une éventuelle autre menace.</p> 

					<br />
					<br />
					<br />

					<div class="sectionn-heading"><h2 style="font-size: 22px;">Catégorie des armes : </h2></div>
					    
					<p>Les armes sont classées en 3 catégories en fonction de leur dangerosité.</p>
					
						<p><b>Catégorie 1</b> &nbsp;&nbsp;&nbsp;:&nbsp;&nbsp; Armes Blanches <br />
						<b>Catégorie 2</b> &nbsp;&nbsp;:&nbsp;&nbsp; Armes de Poing<br />
						<b>Catégorie 3 </b>			&nbsp;&nbsp;:&nbsp;&nbsp; Armes Lourdes<br />
						<b>Hors catégorie</b> &nbsp;&nbsp;:&nbsp;&nbsp; Explosifs et autres armes destinées à détruire</p>
						<br />
						<br />
						<br />
						<br />
						<br />
						<br />

						<p style="text-align: center;">Pour savoir si votre arme est légale ou illégale, renseignez-vous sur le Code Général de l’Etat de San Andreas.</p>


					<br />
				</p>
			</div>
		</div>
	</div>
</section>