<br /><br /><br /><br /><br /><br />
<section class="gallery-area section2 bg-img jarallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-heading">
                        <h2>Notre stand de tir</h2>
                        <p>Présentation de notre merveilleux stand de tir ! Et toutes les fonctionnalités présentées.</p>
                    </div>
                </div>
                <div class="gallery masonry col-sm-12 pd-0">
                    <div class="col-md-6 col-sm-6 col-xs-12 pd-0 grid-item" style="overflow-x: hidden;overflow-y: hidden;">
                        <div class="col-sm-12 mr-b30">
                            <div class="gimg">
                                <figure>
                                    <a href="assets/images/photos2/2.png">
                                        <img src="assets/images/photos2/2.png" alt="" />
                                        <div class="con-pop">
                                            <span><i class="fas fa-search"></i></span>
                                        </div>
                                    </a>
									<div class="content">
										<h3>Stand</h3>
										<p>Le stand offre une étendue de tir incroyable, allant jusqu'à 6 personnes pouvant tirer simultanément.</p>
									</div>
                                </figure>
                            </div>
                        </div>
                        <div class="col-sm-12 mr-b30">
                            <div class="gimg">
                                <figure>
                                    <a href="assets/images/photos2/5.png">
                                        <img src="assets/images/photos2/5.png" alt="" />
                                        <div class="con-pop">
                                            <span><i class="fas fa-search"></i></span>
                                        </div>
                                    </a>
									<div class="content">
										<h3>Apprentissage</h3>
										<p>Venir à l'Ammu Nation,c'est pouvoir s'entraîner, mais également apprendre à manier une arme ainsi que les règles de l'ISTC afin de se sécuriser.</p>
									</div>
                                </figure>
                            </div>
                        </div>
						<div class="col-sm-12 mr-b30">
                            <div class="gimg">
                                <figure>
                                    <a href="assets/images/photos2/12.png">
                                        <img src="assets/images/photos2/12.png" alt="" />
                                        <div class="con-pop">
                                            <span><i class="fas fa-search"></i></span>
                                        </div>
                                    </a>
									<div class="content">
										<h3>Couloirs</h3>
										<p>Chaque voie de tir est sécurisée selon des règles établies en amont avant d'entrer dans le stand, elles sont également équipées de protections balistiques adéquates (contre les balles perdues et les éclats).</p>
									</div>
                                </figure>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-md-6 col-sm-6 col-xs-12 pd-0 grid-item">
                        <div class="col-sm-12 mr-b30">
                            <div class="gimg">
                                <figure>
                                    <a href="assets/images/photos2/9.png">
                                        <img src="assets/images/photos2/9.png" alt="" />
                                        <div class="con-pop">
                                            <span><i class="fas fa-search"></i></span>
                                        </div>
                                    </a>
									<div class="content">
										<h3>Cibles</h3>
										<p>Le stand, doté d'une technologie surprenante, est capable de faire venir des mannequins, et les faire partir une fois celui-ci touché/non touché à temps.</p>
									</div>
                                </figure>
                            </div>
                        </div>
                    </div>
					<div class="col-md-6 col-sm-6 col-xs-12 pd-0 grid-item">
                        
                        <div class="col-sm-12 mr-b30">
                            <div class="gimg">
                                <figure>
                                    <a href="assets/images/photos2/11.png">
                                        <img src="assets/images/photos2/11.png" alt="" />
                                        <div class="con-pop">
                                            <span><i class="fas fa-search"></i></span>
                                        </div>
                                    </a>
									<div class="content">
										<h3>Aération</h3>
										<p>Egalement équipé d'aération forcée, le stand permet d'évacuer les gaz toxiques émanants des tirs afin de limiter l'exposition des tireurs et des instructeurs aux vapeurs de plomb.</p>
									</div>
                                </figure>
                            </div>
                        </div>
						<div class="col-sm-12 mr-b30">
                            <div class="gimg">
                                <figure>
                                    <a href="assets/images/photos2/10.png">
                                        <img src="assets/images/photos2/10.png" alt="" />
                                        <div class="con-pop">
                                            <span><i class="fas fa-search"></i></span>
                                        </div>
                                    </a>
									<div class="content">
										<h3>Sécurité</h3>
										<p>L'Ammu Nation est également équipée de vitres blindées résistantes aux balles, assurant une sécurité maximale aux citoyens voulant regarder l'éxerçant, ou passant simplement ses tests.</p>
									</div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
				
            </div>
        </div>
</section>