<br /><br /><br /><br /><br /><br />
<section class="gallery-area section2 bg-img jarallax">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-heading">
					<h2>Galerie de l'Ammu Nation</h2>
					<p>Présentation de nos locaux, véhicules et salle de classe !</p>
				</div>
			</div>
			<div class="gallery masonry col-sm-12 pd-0">
				<div class="col-md-6 col-sm-6 col-xs-12 pd-0 grid-item" style="overflow-x: hidden;overflow-y: hidden;">
					<div class="col-sm-12 mr-b30">
						<div class="gimg">
							<figure>
								<a href="assets/images/photos2/0.png">
									<img src="assets/images/photos2/0.png" alt="" />
									<div class="con-pop">
										<span><i class="fas fa-search"></i></span>
									</div>
								</a>
								<div class="content">
									<h3>Le stand</h3>
									<p>Notre Ammu Nation sud est équipée d'un stand de tir totalement fonctionnel et sécurisant !</p>
								</div>
							</figure>
						</div>
					</div>
					<div class="col-sm-12 mr-b30">
						<div class="gimg">
							<figure>
								<a href="assets/images/photos/ammu5.png">
									<img src="assets/images/photos/ammu5.png" alt="" />
									<div class="con-pop">
										<span><i class="fas fa-search"></i></span>
									</div>
								</a>
								<div class="content">
									<h3>Espace</h3>
									<p>Un grand espace est mit à la disposition des clients afin d'accueillir tous ceux voulant apprendre voire s'entraîner.</p>
								</div>
							</figure>
						</div>
					</div>
					<div class="col-sm-12 mr-b30">
						<div class="gimg">
							<figure>
								<a href="assets/images/photos2/4.png">
									<img src="assets/images/photos2/4.png" alt="" />
									<div class="con-pop">
										<span><i class="fas fa-search"></i></span>
									</div>
								</a>
								<div class="content">
									<h3>Véhicules</h3>
									<p>Deux véhicules sont mis à la disposition de nos employés, un fourgon blindé ainsi qu'un granger afin de pouvoir aller chercher nos armes nous-même, ainsi qu'éventuellement vous les livrer sous commande.</p>
								</div>
							</figure>
						</div>
					</div>
					<div class="col-sm-12 mr-b30">
						<div class="gimg">
							<figure>
								<a href="assets/images/photos2/1.png">
									<img src="assets/images/photos2/1.png" alt="" />
									<div class="con-pop">
										<span><i class="fas fa-search"></i></span>
									</div>
								</a>
								<div class="content">
									<h3>Le granger</h3>
									<p>Le granger est un petit véhicule non blindé et facilement maniable. Il peut être utilisé lors de moments de publicités ou lors de livraisons ne nécessitant pas le fourgon.</p>
								</div>
							</figure>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 pd-0 grid-item">
					<div class="col-sm-12 mr-b30">
						<div class="gimg">
							<figure>
								<a href="assets/images/photos2/7.png">
									<img src="assets/images/photos2/7.png" alt="" />
									<div class="con-pop">
										<span><i class="fas fa-search"></i></span>
									</div>
								</a>
								<div class="content">
									<h3>Le comptoir</h3>
									<p>Le comptoir est là où nos employés passeront la majeure partie de leur temps afin de vous apporter la satisfaction d'aquérir vos armes, ainsi que donner leurs meilleurs conseils en matière d'armement.</p>
								</div>
							</figure>
						</div>
					</div>
					<div class="col-sm-12 mr-b30">
						<div class="gimg">
							<figure>
								<a href="assets/images/photos2/8.png">
									<img src="assets/images/photos2/8.png" alt="" />
									<div class="con-pop">
										<span><i class="fas fa-search"></i></span>
									</div>
								</a>
								<div class="content">
									<h3>Le bureau</h3>
									<p>Deux postes d'ordinateurs sont mis à la disposition des clients afin qu'ils puissent s'informer voire passer leurs tests PPA s'ils n'ont pas de smartphone.</p>
								</div>
							</figure>
						</div>
					</div>
					<div class="col-sm-12 mr-b30">
						<div class="gimg">
							<figure>
								<a href="assets/images/photos2/6.png">
									<img src="assets/images/photos2/6.png" alt="" />
									<div class="con-pop">
										<span><i class="fas fa-search"></i></span>
									</div>
								</a>
								<div class="content">
									<h3>Salle de projection</h3>
									<p>La salle de projection sert lors des examens PPA, ainsi que lors des explications en termes d'armement.</p>
								</div>
							</figure>
						</div>
					</div>
					<div class="col-sm-12 mr-b30">
						<div class="gimg">
							<figure>
								<a href="assets/images/photos2/3.png">
									<img src="assets/images/photos2/3.png" alt="" />
									<div class="con-pop">
										<span><i class="fas fa-search"></i></span>
									</div>
								</a>
								<div class="content">
									<h3>Le fourgon</h3>
									<p>Le fourgon blindé permet une sécurisation maximale lors de nos livraisons de commandes mais également lorsque nous allons chercher nos armes à notre fournisseur.</p>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>