<br /><br /><br /><br /><br /><br />
<section class="products-area section bg-img jarallax about-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-heading">
					<h2>Nos produits</h2>
					<p>Voici la liste des seules armes qui sont à vendre aux civils. Toutes les autres armes sont interdites à la vente mais possible d'utilisation dans notre stand de tir tant que l'Ammu vous les fournit.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="sectionn-heading"><h2>Armes blanches</h2></div>
			<div class="col-md-12 col-sm-12 pd-0">
				<div class="pro-sliders">
					<div class="col-sm-12">
						<div class="products">
							<figure style="border: 1px solid #424242;"><img src="assets/images/weapons/cac-queue-billard.png" alt="" /></figure>
							<div class="contents" style="height: 190px;">
								<h3>Queue de Billard</h3>
								<br /> 
								<span>$ 3.800</span>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="products">
							<figure style="border: 1px solid #424242;"><img src="assets/images/weapons/cac-cle-anglaise.png" alt="" /></figure>
							<div class="contents" style="height: 190px;">
								<h3>Clé Anglaise</h3>
								<br /> 
								<span>$ 3.900</span>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="products">
							<figure style="border: 1px solid #424242;"><img src="assets/images/weapons/cac-batte.png" alt="" /></figure>
							<div class="contents" style="height: 190px;">
								<h3>Batte de baseball</h3>
								<br /> 
								<span>$ 4.000</span>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="products">
							<figure style="border: 1px solid #424242;"><img src="assets/images/weapons/cac-marteau.png" alt="" /></figure>
							<div class="contents" style="height: 190px;">
								<h3>Marteau</h3>
								<br /> 
								<span>$ 4.200</span>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="products">
							<figure style="border: 1px solid #424242;"><img src="assets/images/weapons/cac-cran-arret.png" alt="" /></figure>
							<div class="contents" style="height: 190px;">
								<h3>Couteau à cran d'arrêt</h3>
								<span>$ 6.200</span>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="products">
							<figure style="border: 1px solid #424242;"><img src="assets/images/weapons/cac-club-golf.png" alt="" /></figure>
							<div class="contents" style="height: 190px;">
								<h3>Club de golf</h3>
								<br /> 
								<span>$ 7.100</span>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="products">
							<figure style="border: 1px solid #424242;"><img src="assets/images/weapons/cac-dague-antique.png" alt="" /></figure>
							<div class="contents" style="height: 190px;">
								<h3>Dague Antique</h3>
								<br /> 
								<span>$ 15.000</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><br /><br />
		<div class="row">
			<div class="sectionn-heading"><h2>Armes de poing</h2></div>
			<div class="col-md-12 col-sm-12 pd-0">
				<div class="pro-sliders">
					<div class="col-sm-12">
						<div class="products">
							<figure style="border: 1px solid #424242;"><img src="assets/images/weapons/pi-petoire.png" alt="" /></figure>
							<div class="contents" style="height: 190px;">
								<h3>Pétoire</h3>
								<br /> 
								<span>$ 31.200</span>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="products">
							<figure style="border: 1px solid #424242;"><img src="assets/images/weapons/pi-pistolet.png" alt="" /></figure>
							<div class="contents" style="height: 190px;">
								<h3>Pistolet</h3>
								<br /> 
								<span>$ 48.550</span>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="products">
							<figure style="border: 1px solid #424242;"><img src="assets/images/weapons/pi-pistolet-lourd.png" alt="" /></figure>
							<div class="contents" style="height: 190px;">
								<h3>Colt 1911</h3>
								<br /> 
								<span>$ 62.300</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	     <br /><br />
		<div class="row">
			<div class="sectionn-heading"><h2>Nos chargeurs </h2></div>
			<div class="col-md-12 col-sm-12 pd-0">
				<div class="pro-sliders">
					<div class="col-sm-12">
						<div class="products">
							<figure style="border: 1px solid #424242;"><img src="assets/images/weapons/box1.png" alt="" /></figure>
							<div class="contents" style="height: 190px;">
								<h3>Boîte de 20</h3>
								<br /> 
								<span>$ 300</span>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="products">
							<figure style="border: 1px solid #424242;"><img src="assets/images/weapons/cli1.png" alt="" /></figure>
							<div class="contents" style="height: 190px;">
								<h3>Chargeurs</h3>
								<br /> 
								<span>$ 500</span>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="products">
							<figure style="border: 1px solid #424242;"><img src="assets/images/weapons/box2.png" alt="" /></figure>
							<div class="contents" style="height: 190px;">
								<h3>Boîte de 50</h3>
								<br /> 
								<span>$ 550</span>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="products">
							<figure style="border: 1px solid #424242;"><img src="assets/images/weapons/clip2.png" alt="" /></figure>
							<div class="contents" style="height: 190px;">
								<h3>Chargeurs tambour</h3>
								<br /> 
								<span>$ 1.500</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><br /><br /> 
        <div class="row">
            <div class="sectionn-heading"><h2>Nos accessoires</h2></div>
            <div class="col-md-12 col-sm-12 pd-0">
                <div class="pro-sliders">
					<div class="col-sm-12">
                        <div class="products">
                            <figure style="border: 1px solid #424242;"><img src="assets/images/weapons/light.png" alt="" /></figure>
                            <div class="contents" style="height: 190px;">
                                <h3>Lampe</h3>
								<br /> 
                                <span>$ 700</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="products">
                            <figure style="border: 1px solid #424242;"><img src="assets/images/weapons/sight.png" alt="" /></figure>
                            <div class="contents" style="height: 190px;">
                                <h3>Viseur</h3>
								<br /> 
                                <span>$ 750</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="products">
                            <figure style="border: 1px solid #424242;"><img src="assets/images/weapons/grip.png" alt="" /></figure>
                            <div class="contents" style="height: 190px;">
                                <h3>Poignée</h3>
								<br /> 
                                <span>$ 750</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="products">
                            <figure style="border: 1px solid #424242;"><img src="assets/images/weapons/silencer.png" alt="" /></figure>
                            <div class="contents" style="height: 190px;">
                                <h3>Silencieux</h3>
								<br /> 
                                <span>$ 1.000</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<br /><br /> 
		<!--<div class="row">
					<div class="sectionn-heading"><h2>Armes du stand de tir</h2></div>
					<div class="col-md-12 col-sm-12 pd-0">
						<div class="pro-sliders">
							<div class="col-sm-12">
								<div class="products">
									<figure><img src="assets/images/weapons/1.jpg" alt="" /></figure>
									<div class="contents" style="height: 190px;">
										<h3>MC5 Carbine</h3>
										<br /> 
										<span>$1,499.00</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="products">
									<figure><img src="assets/images/weapons/2.jpg" alt="" /></figure>
									<div class="contents" style="height: 190px;">
										<h3>MC5 Carbine</h3>
										<br /> 
										<span>$1,499.00</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="products">
									<figure><img src="assets/images/weapons/3.jpg" alt="" /></figure>
									<div class="contents" style="height: 190px;">
										<h3>MC5 Carbine</h3>
										<br /> 
										<span>$1,499.00</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="products">
									<figure><img src="assets/images/weapons/4.jpg" alt="" /></figure>
									<div class="contents" style="height: 190px;">
										<h3>MC5 Carbine</h3>
										<br /> 
										<span>$1,499.00</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="products">
									<figure><img src="assets/images/weapons/1.jpg" alt="" /></figure>
									<div class="contents" style="height: 190px;">
										<h3>MC5 Carbine</h3>
										<br /> 
										<span>$1,499.00</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="products">
									<figure><img src="assets/images/weapons/2.jpg" alt="" /></figure>
									<div class="contents" style="height: 190px;">
										<h3>MC5 Carbine</h3>
										<br /> 
										<span>$1,499.00</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="products">
									<figure><img src="assets/images/weapons/3.jpg" alt="" /></figure>
									<div class="contents" style="height: 190px;">
										<h3>MC5 Carbine</h3>
										<br /> 
										<span>$1,499.00</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="products">
									<figure><img src="assets/images/weapons/4.jpg" alt="" /></figure>
									<div class="contents" style="height: 190px;">
										<h3>MC5 Carbine</h3>
										<br /> 
										<span>$1,499.00</span>
									</div>
								</div>
							</div>
						</div>
					</div>
		</div>-->
	</div>
</section>