<br /><br /><br /><br /><br /><br />
<section class="about-area section bg-img jarallax">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-heading">
					<h2>Questionnaire</h2>
					<p></p>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 " style="height:  900px;">
				<div style="text-align: center;">
					<div class="login_wrapper">
						<%- include('partials/messages') %>
						<form action="/survey" method="POST">
							<div class="formsix-e">
								<label for="key" style="color: #FFF">Indentifiant: </label>
								<center><div class="form-group i-password" style="width: 60%">
									<input autocomplete="off" type="text" class="form-control" required="" id="password"
									name="key">
								</div></center>
							</div>
							<div class="login_btn_wrapper">
								<button type="submit" class="btn btn-primary">Connexion</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>