<br /><br /><br /><br /><br /><br />
<section class="about-area section bg-img jarallax" style="height: 1380px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-heading">
					<h2>Questionnaire</h2>
					<p></p>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 " style="height:  900px;">
				<div style="text-align: center;">
					<div class="login_wrapper" style="color:#FFF;">
						<%- include('partials/messages') %>
						<form action="/survey2" method="POST">
							<center>
							<div style="background-color: rgba(0, 0, 0, 0.3);margin: 0 20px 0 20px;border-radius: 10px;">
								
								<% for (let i = 0; i < questions.length; i++) { const element = questions[i]; %>
									<br><div style="background-color: rgba(0, 0, 0, 0.3);border-radius: 10px;margin: 0 20px;"><br>
										<div class="formsix-e">
											<label style="margin: 0 10px;color: #FFF;font-weight: 600"><%= element.q %></label>
											<div class="form-group i-password" style="width: 70%">
												<div>

														<% for (let i = 0; i < element.a.length; i+= 2) { const answer = element.a[i]; %>
															<div style="display:flex; flex-direction: row;">
																<% if (element.a == "input") { %>
																	<br><br>
																	<div class="form-group i-password" style="width: 100%">
																		<input autocomplete="off" type="text" class="form-control" required="" id="q1" name="q1" style="color: #FFF">
																	</div>
																<% } else { %>
																
																	<div style="margin: 0 5px;width: 50%;display:flex; flex-direction:row;justify-content:center;">
																		<input autocomplete="off" type="radio" id="yes1" name="drone" value="yes1">
																		<label style="font-weight: 300" for="4"><%= answer %></label><br />
																	</div>
																	<% if (element.a[i + 1]) { %>
																			<div style="margin: 0 5px;width: 50%;display:flex; flex-direction:row;justify-content:center;">
																				<input autocomplete="off" type="radio" id="yes1" name="drone" value="yes1">
																				<label style="margin: 0 5px;font-weight: 300" for="4"><%= element.a[i + 1] %></label><br />
																			</div>
																	<% }} %>
															</div>
														<% } %>
												</div>
											</div>
										</div>
										<br />
									</div>
								<% } %>
							</center>
							<br>
							<div class="login_btn_wrapper">
								<button type="submit" class="btn btn-primary">Continuer</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>