    <!--Price area Start here-->
    <section class="price-area section bg-img jarallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-heading">
                        <h2>Tarrification des entrainements</h2>
                        <p>Protéger vos droits ! Le premier choix de Los Santos en matière d'ordonnances nationales !</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-sm-4 pd-0">
                        <div class="price-lists">
                            <div class="phead">
                                <ul class="rate">
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <h3>Basic Plan</h3>
                                <div class="prices">
                                    <strong><i class="fas fa-dollar-sign"></i>49</strong>
                                    <span>/per mo</span>
                                </div>
                            </div>
                            <div class="pbody">
                                <ul>
                                    <li><span>MC5 Carbine</span></li>
                                    <li><span>MC6 Carbine</span></li>
                                    <li><span>MC7 Long Range Carbine</span></li>
                                    <li><span>MR1 Bolt Action</span></li>
                                </ul>
                                <a href="#" class="btn4">Book Now!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 pd-0">
                        <div class="price-lists middel">
                            <div class="phead">
                                <ul class="rate">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <h3>V.I.P Plan</h3>
                                <div class="prices">
                                    <strong><i class="fas fa-dollar-sign"></i>49</strong>
                                    <span>/per mo</span>
                                </div>
                            </div>
                            <div class="pbody">
                                <ul>
                                    <li><span>MC5 Carbine</span></li>
                                    <li><span>MC6 Carbine</span></li>
                                    <li><span>MC7 Long Range Carbine</span></li>
                                    <li><span>MR1 Bolt Action</span></li>
                                </ul>
                                <a href="#" class="btn4">Book Now!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 pd-0">
                        <div class="price-lists">
                            <div class="phead">
                                <ul class="rate">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <h3>Ultimate Plan</h3>
                                <div class="prices">
                                    <strong><i class="fas fa-dollar-sign"></i>99</strong>
                                    <span>/per mo</span>
                                </div>
                            </div>
                            <div class="pbody">
                                <ul>
                                    <li><span>MC5 Carbine</span></li>
                                    <li><span>MC6 Carbine</span></li>
                                    <li><span>MC7 Long Range Carbine</span></li>
                                    <li><span>MR1 Bolt Action</span></li>
                                </ul>
                                <a href="#" class="btn4">Book Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Price area End here-->