
<section class="slider-area">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 pd-0">
				<div class="item-content">
					<div class="item-slider items1 bg-img">
						<div class="slider_section_overlay"></div>
						<div class="container">
							<div class="row">
								<div class="col-sm-12">
									<div class="contents text-center">
										<h2 class="wow animated fadeInUp" id="convictsaa" data-wow-duration="1s"><img id="ricard_logo" src="assets/images/logo/final_ammu2.png" style="max-width: 60%;" /></h2>
										<p class="mr-lu mr-ru wow animated fadeInDown" data-wow-duration="1.5s">Leader dans la ville de Los Santos depuis 1963</p>
										<p class="mr-lu mr-ru wow animated fadeInDown" data-wow-duration="1.5s">Fabricant d'armes - et raisons de posséder des armes, l'Ammu Nation a défendu avec zèle le profit des armes depuis plus de 50 ans.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--<section class="blog-area section bg-img jarallax">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-heading">
					<a href="/"><img src="assets/images/logo/final_ammu2.png" style="max-width: 60%;" /></a>
					<h2>Dernieres nouvelles</h2>
					<p> </p>
						<p>  </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12 pd-0">
			<div class="news_left_wrapper">
				<div class="news_left_img_overlay"></div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="news_left_cont">
								<p><i></i></p>
								<h6><i class="fa fa-calendar-alt"></i>29-Jan-2017</h6>
								<h3>Weapon Services - 2017</h3>
								<h5><a href="#">Read More</a> &nbsp;<i class="fa fa-long-arrow-alt-right"></i></h5>
							</div>
						</div>	
					</div>	
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 pd-0">
				<div class="ln-sliders">
					<div class="col-sm-12">
						<div class="main_news_right_box">
							<div class="news_right_box1_wrapper">
								<div class="news_right_box1">
										 <p></p>
										 <h3>Titre</h3>
										 <h6><i class="fa fa-calendar-alt"></i>Date</h6>
										 <div class="news_border_bottom">
										 </div>
									 </div>
								</div>
								<div class="news_botton_cont">
									 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis varius tempor vehicula. Quisque at congue diam, sit amet ultrices ex. Duis vulputate scelerisque diam eu consectetur. Nunc ut lacinia arcu. Sed vitae mollis neque.</p>
									 <h5><a href="#">Voir plus</a> &nbsp;<i class="fa fa-long-arrow-alt-right"></i></h5>
								 </div>
								</div>	
						</div>
				</div>
			</div>
		</div>
	</div>
</section>